* {
    margin: 0;
}

h1 {
    text-align: center;
    color: steelblue;
    padding: 20px;
}

#cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 10px
}

section {
    background-color: steelblue;
    padding-bottom: 30px;
    color: white;
}

section h2 {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 30px;
    background-color: steelblue;
    color: white;
    margin-top: 30px;
}