@media only screen and (min-width: 1025px) {
    .ham-btn {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        gap: 0;
    }

    .navigation li {
        display: flex;
        justify-content: center;
        width: 100%;
        border-right: 1px solid var(--text-color);
        border-bottom: 1px solid var(--text-color);
    }

    .navigation li:last-child {
        border-right: none;
    }

    .navigation a {
        display: flex;
        align-items: center;
        border-bottom: none;
    }

    fieldset {
        margin: 0 auto;
        width: 512px;
    }

    footer {
        display: flex;
        align-items: center;
        padding: 20px;
        justify-content: space-around;
    }

    dialog {
        width: 500px;
        padding: 10px;
    }

}