* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent1-color: #ffc800;
    --accent2-color: rgb(255, 94, 121);
    --text-color: #b1b1b1;
    --body-font: "Maven Pro", sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Maven Pro", sans-serif;
    color: var(--text-color);
}

/********HEADER********/
header {
    display: flex;
    padding: 20px;
    align-items: center;
    color: var(--accent1-color);
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;   
    border-bottom: 1px solid var(--text-color);
}

h1 {
    padding-right: 30px;
}

header img {
    width: 50px;
    height: auto;
    margin: 0;
}

/********NAVIGATION********/

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.ham-btn::before {
    content: "\2630";
}

.ham-btn.show::before {
    content: "\00d7";
    font-size: 3rem;
}

.ham-btn {
    font-size: 2.5rem;
    background: none;
    border: none;
    position: absolute;
    top: 20px;
    right: 15px;
    color: var(--text-color);
}

nav li {
    list-style-type: none;
}

nav a {
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 20px;
    border-bottom: 1px solid var(--text-color);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

nav a:hover {
    color: var(--secondary-color);
}

nav img {
    margin-right: 15px;
    width: 2rem;
    height: auto;
    margin-left: 0;
}

/*******SIDEBAR********/

#visitor-message {
    color: black;
    background-color: var(--accent2-color);
    margin-top: 15px;
    padding: 10px;
    width: 250px;
    margin-left: 0;
    margin-bottom: 15px;
    border-radius: 0 30px 30px 0;
}

/*******FORM********/

fieldset {
    border: 1px solid var(--text-color);
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

form {
    padding-top: 10px;
    border-top: 1px solid var(--text-color);
}

legend {
    padding: 5px;
}

label {
    margin: 0;
    padding: 10px;
}

input {
    background-color: black;
    border-left: 5px solid var(--accent2-color);
    border-top: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

input:focus {
    background-color: transparent;
}


input, textarea {
    margin: 0 10px 0 10px;
    background-color: black;
    font-size: 1rem;
    padding: 3px;
    font-family: var(--body-font);
    border-radius: 5px;
    color: white;
}

textarea {
    border: 1px solid var(--text-color);
    padding: 3px;
}

select {
    margin: 0 10px 0 10px;
    background-color: black;
    border: 1px solid var(--text-color);
    color: white;
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
}

form button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--accent1-color);
    color: black;
}

/*******THANK YOU FORM*******/

#results {
    margin: 50px 20px 50px 20px;
    background-color: black;
    border: 1px solid var(--text-color);
    color: white;
    border-radius: 20px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#results h2 {
    color: var(--accent1-color);
}

#results p {
    text-align: center;
    display: block;
    padding: 20px;
    width: 100%;
}

/*******FOOTER********/
footer {
    border-top: 1px solid var(--text-color);
    margin-top: 20px;
    margin-bottom: 20px;
}

footer p {
    padding: 3px;
    padding-left: 10px;
}

footer p:first-child {
    padding-top: 10px;
}

/********Artist Cards*******/
.artistCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(37, 37, 37);
    border: 1px solid black;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
}

.artistCards p {
    padding: 5px;
}

.artistCards img {
    width: 200px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.artistCards a {
    margin-bottom: 10px;
    color: var(--accent1-color);
    background-color: black;
    text-decoration: none;
    padding: 20px;
    border-radius: 50px;
}

#artists {
    display: grid;
    grid-gap: 2rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

/*******Loading Screen*******/
#loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
#loading img {
    margin: 10px;
    height: 2rem;
    animation: rotateCircle 1s ease 0s infinite;
}

@keyframes rotateCircle {
    to {transform: rotate(360deg);}
}

/*******Track*******/
iframe {
    border-radius: 12px;
    width: 325px;
    height: 152px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

#tracks {
    display: grid;
    grid-gap: 2rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

/*******Hero Image******/

#hero {
    width: 100%;
}

/*******MAIN******/
h2 {
    color: white;
    text-align: center;
    margin: 20px;
}

#openModal {
    display: block;
    margin: 0 auto;
    color: var(--accent1-color);
    background-color: black;
    padding: 20px;
    border-radius: 50px;
    border: 1px solid var(--text-color);
    cursor: pointer;
}

/*******Dialog******/
 dialog {
    text-align: center;
    margin-top: 100px;
    height: 500px;
    background-color: black;
    border: 1px solid var(--accent1-color);
    border-radius: 20px;
 }

 dialog p {
    color: var(--text-color);
    padding: 10px;
 }

 dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.738);
}

dialog button {
    color: var(--accent1-color);
    background-color: black;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: 1px solid var(--text-color);
    cursor: pointer;
    margin-top: 10px;
}


