* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent1-color: #ffc800;
    --accent2-color: rgb(255, 94, 121);
    --text-color: #b1b1b1;
}

body {
    background-color: black;
    font-family: "Maven Pro", sans-serif;
    color: var(--text-color);
}

ul, p, h2, h1, li {
    padding: 10px 40px 10px 40px
}

h1 {
    font-family: "Special Gothic Expanded One", sans-serif;
    text-align: center;
    color: var(--accent2-color);
    padding-top: 20px;
}

h2 {
    color: var(--accent1-color);
}

li {
    list-style-position: inside;
}

#desktop {
    width: 900px;
    height: auto;
    padding-left: 40px;
}

#mobile {
    width: 500px;
    padding: 10px 40px 10px 40px;
}