* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arimo", serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #175676;
    color: white;
}

nav ul li {
    list-style: none;
    padding: 10px;
    font-size: large;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
}

nav li a:hover {
    color: #98d8ff;
}

.nav-menu {
    display: none;
}

.container {
    display: flex;
    color: white;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    background-color: #175676;
}

main {
    text-align: center;
}

.hamburger {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 0;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
}

.nav-menu.active {
    display: block;
    text-align: center;
    padding: 10px 0;
}

#home {
    padding: 0 20px 0 20px;
    color: #175676;
    background-color: white;
}

.course-work {
    text-align: center;
}

h2 {
    background-color: #BA324F;
    padding: 20px;
    color: white;
}

.course-work ul {
    padding: 20px;
    margin: 20px;
}

.course-work ul li {
    padding: 10px;
}

.utah {
    text-align: center;
}

.utah img {
    padding-top: 20px;
}

.certificate {
    text-align: center;
}

#image-caption {
    padding-bottom: 20px;
}

.utah, .course-work, .certificate {
    border: 1px solid black;
    margin: 10px;
}

.class-buttons {
    margin: 10px 0;
}

button {
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: #175676;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #175676;
}

.course-card {
    width: 80%;
    margin: 10px auto;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
}

.completed {
    background-color: green;
    color: white;
}

.incomplete {
    background-color: saddlebrown;
    color: white;
}

#credits {
    padding: 30px;
}

footer {
    background-color: #175676;
    color: white;
    padding: 20px;
    text-align: center;
}