* {
    margin: 0;
}

#card {
    background-color: rgb(173, 198, 230);
    border-radius: 10px;
    text-align: center;
    border: 1px solid black;
    margin: 1rem;
}

#card p {
    padding-top: 20px;
}

#card figcaption {
    text-transform: capitalize;
    padding-bottom: 20px;
}